@{
    var model = (string[]) ViewData.Model.Split('|');
    var taskType = model.Contains("TaskType");
    var goBack = model.Contains("GoBack");
    var edit = model.Contains("Edit");
    var details = model.Contains("Details");
    var delete = model.Contains("Delete");
    var settle = model.Contains("Settle");
    var suffix = taskType ? "Type" : "";
    var id = model[0];
    var deleteTextIndex = Array.FindIndex(model, x => x.Contains("deleteText="));
    var deleteText = deleteTextIndex >= 0 ? model[deleteTextIndex].Replace("deleteText=", string.Empty) : string.Empty;
    var referer = Context.Request.Headers.Referer.ToString();
    var indexName = taskType ? "Tasks" : "Index";
    var parentView = Context.Request.RouteValues["action"];
    var controller = Context.Request.RouteValues["controller"];
    var goBackHref = referer.Contains(controller.ToString()) ?
        Url.Action(indexName): referer.Contains("/Update/") ?
            Url.ActionLink("Index", "HourlyPrices") : referer;
}
<div class="w-auto">
    @if (settle)
    {
        <a href="@Url.Action($"Settle", "Settlements", new { id })" class="btn-template button-accept">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
            </svg>
        </a>
    }
    @if (goBack && !goBackHref.Contains("/Edit/"))
    {
        <a href="@goBackHref" class="btn-template button-navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
    }
    @if (details && !taskType && parentView.ToString() != "Details")
    {
        <a href="@Url.Action($"Details{suffix}", new { id })" class="btn-template button-normal">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
            </svg>
        </a>
    }
    @if (edit)
    {
        <a href="@Url.Action($"Edit{suffix}", new { id })" class="btn-template button-create">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
        </a>
    }
    @if (delete)
    {
        <a href="@Url.Action($"Delete{suffix}", new { id })" class="btn-template button-alert" data-bs-toggle="modal" data-bs-target="@($"#modalDelete{id}")">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
        </a>
    }
    <div class="modal fade" id="@($"modalDelete{id}")" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Potwierdź usunięcie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Potwierdź usunięcie @Html.Raw(deleteText)
                </div>
                <div class="modal-footer">
                    <a class="btn-template button-normal" data-bs-dismiss="modal">Anuluj</a>
                    <a asp-action="@($"Delete{suffix}")" asp-route-id="@id"><button type="button" class="btn-template button-alert" data-bs-dismiss="modal">Usuń</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
