@model WMKancelariapp.Models.ViewModels.ClientDtoViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-md-12">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PostCode" class="control-label"></label>
    <input asp-for="PostCode" class="form-control" />
    <span asp-validation-for="PostCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Location" class="control-label"></label>
    <input asp-for="Location" class="form-control" />
    <span asp-validation-for="Location" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TaxIdNumber" class="control-label"></label>
    <input asp-for="TaxIdNumber" class="form-control" />
    <span asp-validation-for="TaxIdNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AssignedUser" class="control-label"></label>
    @Html.DropDownListFor(x => x.AssignedUser.Id, Model.AllUsersSelectList, new {  @class="form-control multiple-select" })
    <span asp-validation-for="AllUsersSelectList" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cases" class="control-label"></label>
    @Html.ListBoxFor(x => x.SelectedCases, Model.AllCasesSelectList, new { @class="form-control multiple-select", @multiple="multiple" })
</div>
<div class="form-group">
    <input class="btn-template button-accept" type="submit" value="Zapisz">
    <a class="btn-template button-alert" href="@Context.Request.Headers.Referer">Cofnij</a>
</div>
@Html.HiddenFor(x=>x.ClientId)
@*@Html.HiddenFor(x=>x.Prices)
            @for (int i = 0; i < Model.Prices?.Count; i++)
            {
            @Html.HiddenFor(x => x.Prices[i].TaskType)
            @Html.HiddenFor(x => x.Prices[i].Client)
            @Html.HiddenFor(x => x.Prices[i].Price)
            @Html.HiddenFor(x => x.Prices[i].Created)
            @Html.HiddenFor(x => x.Prices[i].Id)
            for (int j = 0; j < Model.Prices[i].UserTasks.Count; j++)
            {
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].TaskType)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].Client)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].Case)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].Description)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].Duration)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].EndTime)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].HourlyPrice)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].StartTime)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].User)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].Created)
            @Html.HiddenFor(x=>x.Prices[i].UserTasks[j].Id)
            }
            }*@
@Html.HiddenFor(x=>x.Cases)
@Html.HiddenFor(x=>x.Tasks)
