@model WMKancelariapp.Models.ViewModels.ClientDtoViewModel

@{
    ViewData["Title"] = "Szczegóły";
}
<div>
    <h2>@Model.Name @Model.Surname</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxIdNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxIdNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cases)
        </dt>
        <dd class="col-sm-10">
            <ui>
                @foreach (var item in Model.Cases)
                {
                    <li>@(item.Name)</li>
                }
            </ui>
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_ActionButtons", $"{Model.ClientId}|GoBack|Edit|Delete")
