@model WMKancelariapp.Models.ViewModels.UserTaskIndexViewModel

@{
    ViewData["Title"] = "Czynności";
}
<p>
    <a asp-action="Create">Nowa czynność</a>
</p>
<table class="table table-striped table-hover table-sm">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(x=> x.AllUserTasks.FirstOrDefault().TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(x=> x.AllUserTasks.FirstOrDefault().Case)
            </th>
            <th>
                @Html.DisplayNameFor(x=> x.AllUserTasks.FirstOrDefault().Client)
            </th>
            <th>
                @Html.DisplayNameFor(x=> x.AllUserTasks.FirstOrDefault().User)
            </th>
            <th>
                @Html.DisplayNameFor(x=> x.AllUserTasks.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(x=> x.AllUserTasks.FirstOrDefault().Description)
            </th>
            <th>
                Opcje
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllUserTasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Case.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client.Id">
                    @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Surname)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edycja", "Edit", new {  id=item.UserTaskId }) |
                    @Html.ActionLink("Szczegóły", "Details", new {  id=item.UserTaskId  }) |
                    @Html.ActionLink("Usuń", "Delete", new {  id=item.UserTaskId  })
                </td>
            </tr>
        }
    </tbody>
</table>
