@model IEnumerable<WMKancelariapp.Models.ViewModels.TaskTypeDtoViewModel>

@{
    ViewData["Title"] = "Kategorie";
}

<h2>Kategorie czynności</h2>

<p>
    <a class="btn-template button-create" asp-action="CreateType">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Najczęstsza sprawa
            </th>
            <th>
                Opcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Tasks.GroupBy(x=>x.Case).OrderByDescending(x=>x.Count()).Select(x=>x).FirstOrDefault()?.Key.Name
                    
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditType", new { id = item.TaskTypeId }) |
                    @Html.ActionLink("Usuń", "DeleteType", new {  id = item.TaskTypeId })
                </td>
            </tr>
        }
    </tbody>
</table>
