@model WMKancelariapp.Models.ViewModels.DeadlineDtoViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-md-12">
    <div class="row">
        @if (User.IsInRole("SysAdmin"))
        {
            <div class="col-md-3">
                <label asp-for="User" class="control-label"></label>
                @Html.DropDownListFor(x=>x.User.Id, Model.UsersSelectList, new {@class="form-control select-dropbox"})
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
        }
        <div class="col-md-3">
            <label asp-for="Case" class="control-label"></label>
            @Html.DropDownListFor(x=>x.Case.Id, Model.CasesSelectList, new {@class="form-control select-dropbox"})
            <span asp-validation-for="Case" class="text-danger"></span>
        </div>
    </div>
    <div>
        <div class="col-md-5">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
</div>
@await Html.PartialAsync("_OkCancelButtons", @Context.Request.Headers.Referer)

@Html.HiddenFor(x=>x.Case.Name)
@Html.HiddenFor(x=>x.IsCompleted)
@Html.HiddenFor(x=>x.DeadlineId)