@model IEnumerable<WMKancelariapp.Models.ViewModels.SettlementDtoViewModel>

@{
    ViewData["Title"] = "Rozliczenia";
}

<h2>Rozliczenia</h2>

<p>
    <a class="btn-template button-create" asp-action="Settle">Nowe rozliczenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Klient
            </th>
            <th>
                Czynności
            </th>
            <th>
                Suma
            </th>
            <th>
                Modyfikowano
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(x => x.Client))
        {
            <tr>
                <td rowspan="@group.Count()">
                    <b>@group.Key.Name</b>
                </td>
                @foreach (var item in group)
                {
                    @Html.Raw(item != group.First() ? "<tr>" :"")
                    <td rowspan="@item.UserTasks.Count()">
                        @foreach (var usertask in item.UserTasks)
                        {
                            <tr>
                                <td>@usertask.TaskType.Name</td>
                                <td>@usertask.EndTime?.Date</td>
                            </tr>
                        }
                    </td>
                    <td>@item.TotalPrice</td>
                    <td>@item.Modified</td>
                    <td>@item.IsSettled</td>
                    <td>@await Html.PartialAsync("_ActionButtons", $"{item.SettlementId}|Details|Edit|Delete|deleteText=rozliczenie<br/><b>{item.UserTasks.Count} czynności</b><br/>dla klienta<br/><b>{item.Client.Name} {item.Client.Surname}</b>")</td>
                    @Html.Raw(item != group.First() ? "</tr>" :"")
                }
            </tr>
        }
    </tbody>
</table>
