@model IEnumerable<WMKancelariapp.Models.ViewModels.SettlementDtoViewModel>

@{
    ViewData["Title"] = "Rozliczenia";
}

<h2>Rozliczenia</h2>

<p>
    <a class="btn-template button-create" asp-action="Settle">Nowe rozliczenie</a>
</p>
<table class="table table-striped table-hover">
    <thead class="table-primary">
    <tr>
        <th>
            Klient
        </th>
        <th>
            Czynności
        </th>
        <th>
            Suma
        </th>
        <th>
            Modyfikowano
        </th>
        <th>
            Status
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var group in Model.GroupBy(x => x.Client))
    {
        @foreach (var item in group)
        {
            <tr>
                <td rowspan="@item.UserTasks.Count()">
                    <b>@group.Key.Name @group.Key.Surname</b>
                </td>
                <td>
                    <table>
                        @foreach (var usertask in item.UserTasks)
                        {
                            <tr>
                                <td>@usertask.TaskType.Name - @usertask.EndTime?.Date.ToShortDateString()</td>
                            </tr>
                        }
                    </table>
                </td>
                <td>@item.TotalPrice</td>
                <td>@item.Modified</td>
                <td>@item.IsSettled</td>
                <td>@await Html.PartialAsync("_ActionButtons", $"{item.SettlementId}|Details|Edit|Delete|deleteText=rozliczenia<br/><b>{item.UserTasks.Count} czynności</b><br/>dla klienta<br/><b>{item.Client.Name} {item.Client.Surname}</b>")</td>
            </tr>
        }
    }
    </tbody>
</table>

