@model WMKancelariapp.Models.ViewModels.HourlyPriceDtoViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-md-12">
    @if (Model.CasesSelectList.Count() > 1)
    {
        <div class="col-md-3">
            <b><label asp-for="Case" class="control-label"></label></b>
            @Html.DropDownListFor(x => x.Case.Id, Model.CasesSelectList, new { @class = "form-control select-dropbox" })
            <span asp-validation-for="Case" class="text-danger"></span>
        </div>
    }
    <table class="margin-top-bot-1">
        <div class="col-md-3">
            <tr>
                <th>
                    <label asp-for="TaskType" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="Price" class="control-label"></label>
                </th>
            </tr>
                <span asp-validation-for="TaskType" class="text-danger"></span>
                @for (var i=0; i< Model.TaskTypesPriceList.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x=>x.TaskTypesPriceList[i].Text)
                            @Model.TaskTypesPriceList[i].Text:
                        </td>
                        <td>
                            <input type="text" asp-for="@Model.TaskTypesPriceList[i].Value" class="form-control" style="width: 5rem"/>
                        </td>
                    </tr>
                }
        </div>
    </table>
</div>
@Html.HiddenFor(x=>x.Case.Id)
<div>
    @await Html.PartialAsync("_OkCancelButtons", @Context.Request.Headers.Referer)
</div>