@model IEnumerable<WMKancelariapp.Models.ViewModels.HourlyPriceDtoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Stawki</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(x => x.Case.Name))
        {
            <tr>
                <td rowspan="@group.Count()">@group.Key</td>
                @foreach (var item in group)
                {
                    @if (item == group.First())
                    {
                        <td>@item.TaskType.Name</td>
                        <td>@item.Price</td>
                        <td>@item.LastModified</td>
                        <td>
                            @await Html.PartialAsync("_ActionButtons", item.HourlyPriceId)
                        </td>
                    }
                    else
                    {
                    <tr>
                        <td>@item.TaskType.Name</td>
                        <td>@item.Price</td>
                        <td>@item.LastModified</td>
                        <td>
                                @await Html.PartialAsync("_ActionButtons", item.HourlyPriceId)
                        </td>
                    </tr>
                    }
                }
            </tr>
        }
    </tbody>
</table>
