@model IEnumerable<WMKancelariapp.Models.ViewModels.HourlyPriceDtoViewModel>

@{
    ViewData["Title"] = "Stawki";
}

<h2>Stawki</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(x => x.Case))
        {
            <tr>
                <td rowspan="@group.Count()">
                    <span><a asp-action="Details" asp-controller="Cases" asp-route-id="@group.Key.Id">@group.Key.Name</a></span>
                    <div><a asp-action="Update" asp-route-id="@group.Key.Id" class="btn-template button-create">Edytuj</a></div>
                </td>
                @foreach (var item in group)
                {
                    @if (item != group.First())
                    {
                        @:<tr>
                    }
                        <td>@item.TaskType.Name</td>
                        <td>@item.Price</td>
                        <td>@item.LastModified</td>
                    <td>
                    </td>
                    @if (item != group.First())
                    {
                    @:</tr>
                    }
                }
            </tr>
        }
    </tbody>
</table>
