@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    @Html.ValidationMessageFor(x=>x.Name, "Należy podać nazwę", new { @class="text-danger" })
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="dropdown-content">
        @Html.LabelFor(x=>x.Client)
        @Html.DropDownListFor(x => x.Client.Id, Model.AllClientsSelectList, new { @class = "form-control multiple-select" })
        <span asp-validation-for="AllClientsSelectList" class="text-danger"></span>
    </div>
    <div>
        @Html.LabelFor(x=>x.AssignedUser)
        @Html.DropDownListFor(x => x.AssignedUser.Id, Model.AllUsersSelectList, new { @class = "form-control multiple-select" })
        <span asp-validation-for="AllUsersSelectList" class="text-danger"></span>
    </div>
</div>
@await Html.PartialAsync("_OkCancelButtons", @Context.Request.Headers.Referer)

@Html.HiddenFor(x=>x.CaseId)

