@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel

@{
    ViewData["Title"] = "Szczegóły";
}

<div>
    <h2>Informacje o sprawie</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Clients" asp-route-id="@Model.Client?.Id">@Html.DisplayFor(model => model.Client.Name) @Html.DisplayFor(model => model.Client.Surname)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.AssignedUser?.Id">@Html.DisplayFor(model => model.AssignedUser.UserName)</a>
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_ActionButtonsSingle", Model.CaseId)
