@using Microsoft.IdentityModel.Tokens
@using WMKancelariapp.Extensions
@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel

@{
    ViewData["Title"] = "Szczegóły";
    ViewData.Add("GoBack", true);
}

<div>
    <h2>Sprawa: <b>@Model.Name</b></h2>
    <hr />
    @await Html.PartialAsync("_ActionButtons", Model.CaseId)

    <dl>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-md-10">
            @(Model.Description.IsNullOrEmpty() ? "---" : Model.Description)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-md-10">
            <a asp-action="Details" asp-controller="Clients" asp-route-id="@Model.Client?.Id">@Html.DisplayFor(model => model.Client.Name) @Html.DisplayFor(model => model.Client.Surname)</a>
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
        <dd class="col-md-10">
            @(Model.AssignedUser == null ? "---" : Model.AssignedUser.UserName)
        </dd>
    </dl>


    <div class="col-md-10">
        <div class="col-md-3">
            <span class="align-bottom">
                <b>@Html.DisplayNameFor(model => model.Prices)</b>
                <a asp-action="Update" asp-controller="HourlyPrices" asp-route-caseId="@Model.CaseId" class="btn-template button-create float-end" style="margin-top: -3px">Zmień</a>
            </span>
            </div>
        @if (!Model.Prices.Any())
        {
            @await Html.PartialAsync("_PlusButton", $"HourlyPrices|{Model.CaseId}")
        }
        else
        {
            <table class="col-md-3">
                @foreach (var item in Model.Prices)
                {
                    <tr>
                        <td>
                            • @item.TaskType.Name.Truncate(20)
                        </td>
                        <td>
                            @item.Price
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
