@using WMKancelariapp.Extensions
@model WMKancelariapp.Models.ViewModels.CaseIndexViewModel

@{
    ViewData["Title"] = "Sprawy";
}

<h2>Sprawy</h2>

<p>
    <a asp-action="Create">Nowa sprawa</a>
    <a asp-action="Create" asp-controller="UserTasks">Nowa czynność</a>
    <input type="button" class="btn btn-secondary filter-button" value="Filtry" id="filterToggle" />
</p>
<table class="table table-striped table-hover table-sm" id="resultsTable">
    <thead class="table-primary">
        <tr>
            <th>
                <div class="filter-section">
                    <input type="text" id="caseNameInput" onkeyup="filterNames('caseNameInput', 'resultsTable', 0)" placeholder="Filtruj po imieniu/nazwisku" class="filter-text-input" /><br />
                </div>
                Nazwa
            </th>
            <th>
                <div class="filter-section">
                    <input type="text" id="descriptionInput" onkeyup="filterNames('descriptionInput', 'resultsTable', 1)" placeholder="Filtruj po opisie" class="filter-text-input" /><br />
                </div>
                Opis
            </th>
            <th>Opiekun</th>
            <th>
                <div class="filter-section">
                    <input type="text" id="clientNameInput" onkeyup="filterNames('clientNameInput', 'resultsTable', 3)" placeholder="Filtruj po kliencie" class="filter-text-input" /><br />
                </div>
                Klient
            </th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllCases)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description.Truncate(15)
                </td>
                <td>
                    @item.AssignedUser?.UserName.RemoveEmailDomain()
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client?.Id">@item.Client?.Name @item.Client?.Surname</a>
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", new {  id=item.CaseId }) |
                    @Html.ActionLink("Edycja", "Edit", new { id=item.CaseId }) |
                    @Html.ActionLink("Usuń", "Delete", new { id=item.CaseId  }) |
                    @Html.ActionLink("Opiekun", "Index", new { id=item.CaseId  }) |
                    @Html.ActionLink("Klient", "Index", new { id=item.CaseId  })
                </td>
            </tr>
        }
    </tbody>
</table>
